

h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }

  p {
    color: red;
    font-family: verdana;
    font-size: 105%;
  }


#borderimg {
  border: 25px solid transparent;
  padding: 15px;
  border-image: url(screenshot.png) 30 round;
}

h2 {
    color: greenyellow;
    font-family: verdana;
    font-size: 140%;
  }


li {
    color: red;
    font-family: verdana;
    font-size: 80%;
}

th {
    color: burlywood;
    font-family: verdana;
    font-size: 120%;
}

td {
    color: brown;
    font-family: verdana;
    font-size: 90%;
}

html{
  height: 100vh;
  }
  

body {background-color: lightblue;}


.column1 {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



